body {
  margin: 0;
  padding: 0;
  background-image: linear-gradient(to top, #3cd4c3, #73f5e6);
  background-size: cover;
  height: 100vh;
  width: 100vw;
  background-repeat: no-repeat;
  background-size: 100%;
  z-index: 6;
}

.header {
  margin: 0;
  a {
    text-decoration: none;
    color: #9b32a5;
  }
  color: #9b32a5;
  background-image: linear-gradient(
    to bottom,
    rgba(41, 86, 209, 0.3),
    rgba(29, 103, 138, 0.03)
  );
  //   background-color: red;
  display: flex;
  h1 {
    cursor: pointer;
    margin-top: 30px;
    margin-left: 20px;
    &:hover {
      color: rgb(81, 47, 136);
    }
  }

  justify-content: space-between;
  z-index: -1;
}

.listing {
  display: flex;

  list-style: none;
  margin: 0;
  margin-right: 20px;
  margin-top: 37px;
  cursor: pointer;

  li {
    &:hover {
      color: rgb(81, 47, 136);
    }
    margin: 0 0.5rem;
  }
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
  color: #812fb1;
  font-size: 1.8rem;
  .subtitle {
    font-size: 1.5rem;
    margin-top: -5px;
    margin-left: 180px;
  }

  button {
    margin: 40px 20px;
    padding: 12px 15px;
    font-size: 1rem;
    cursor: pointer;
    font-weight: bolder;
    // border-style: none;
    border-color: rgb(251, 253, 117);

    color: #8843e2;
    background-image: linear-gradient(
      45deg,
      rgb(77, 203, 235),
      rgba(22, 163, 128, 0.6)
    );
  }
}

.aboutme {
  background-color: #94ebcd;
  padding-bottom: 20px;

  h2 {
    margin-right: 5px;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #8843e2;
  }
  p {
    color: rgb(70, 11, 126);
    margin: 0 40px;
    align-items: center;
    margin-left: 80px;
    margin-bottom: 5px;
  }
}
.footer {
  height: 40px;
  background-color: #3cd4c3;
  display: flex;
  justify-content: center;
  align-items: center;
  a {
    text-decoration: none;
  }
  padding-top: 20px;
}

.ninja {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #812fb1;
  margin: 0 20px;
  height: 20px;
  font-size: 40px;
  cursor: pointer;
}

@media only screen and (min-width: 600px) {
  .subtitle {
    font-size: 200em;
  }
}
